.main-wrapper {
  width: 1000px;
  /* background-color: green; */
  margin: 0 auto;
  padding: 20px;
}

.anecdote-wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: #f0f0f0;
  margin-top: 5px;
}

.content {
  color: #434343;
}

.vote-wrap {
  display: flex;
  padding: 20px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.has {
  margin-right: 20px;
}

.vote-count {
}
