.main-wrapper {
  width: 1000px;
  /* background-color: green; */
  margin: 0 auto;
  padding: 20px;
}

.anecdote-wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: #f0f0f0;
  margin-top: 5px;
}

.content {
  color: #434343;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.vote-wrap {
  display: flex;
  padding: 20px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.has {
  margin-right: 20px;
}

.vote-btn {
  width: 200px;
  padding: 10px;
  background-color: #0958d9;
  border: transparent;
  color: white;
  border-radius: 10px;
}

.create-input {
  padding: 10px;
  width: 400px;
  height: 25px;
}

.create-btn {
  width: 100px;
  padding: 10px;
  background-color: #0958d9;
  border: transparent;
  color: white;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
